<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <form id="dataForm">
    <label for="credentialsInput">JSON Credentials:</label>
    <textarea  id="credentialsInput" name="credentialsInput" placeholder="Enter JSON credentials"></textarea>

    <label for="textInput">JSON Input:</label>
    <textarea id="textInput" name="textInput" placeholder="Enter JSON Input"></textarea>

    <button type="submit">Process Data</button>
  </form>

  <div id="messages"></div>

  <script src="js/socket.io.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
