<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Form Example</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <div class="container">
    <form id="dataForm">
      <label for="credentialsInput">JSON Credentials:</label>
      <textarea  id="credentialsInput" name="credentialsInput" placeholder="Enter JSON credentials"></textarea>
  
      <label for="textInput">JSON Input:</label>
      <textarea id="textInput" name="textInput" placeholder="Enter JSON Input"></textarea>
      
      <label for="tableId">Table Id:</label>
      <input id="tableId" name="tableId" placeholder="Enter Table ID">

      <label for="sheetName">Sheet Name:</label>
      <input id="sheetName" name="tableId" placeholder="Enter Sheet Name">

      <button type="submit">Run</button>
    </form>
  
    <div id="messages">

    </div>
  </div>

  <script src="js/socket.io.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
